Consider following code to answer further questions:
 import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
 duration =  [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})


Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
import pandas as pd

In [4]:
course_name ={"Data Science":[2],
             "Machine Learning":[3],
             "Big Data" : [6],
             "Data Engineer": [4]}

In [5]:
pd.DataFrame(course_name)

   Data Science  Machine Learning  Big Data  Data Engineer
0             2                 3         6              4

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

different between loc and iloc in pandas are following.

loc:- it frame the char.values and slicing operation.
iloc:- it frame the only int.value and slicing operation.

3.Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [3]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 74.2 MB/s eta 0:00:00:00:010:01
Installing collected packages: lxml
Successfully installed lxml-4.9.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import lxml
import pandas as pd

In [9]:
df=pd.read_csv("excel-sheelt.csv")

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.head(2)

,,,,,,,,,,,,,,,,,,,,,,,,,,,,sep=,Unnamed: 1
Circle,Sitetype,Network Type,Alarming OpCo,Site Name,Site ID,Alarm Name,Alarm Text,Start Time,OSS Time,Event Time,Work Log,Area,Tech No,Fse Mobile,Config ID,Toc Site Priority,Alarm Identifier,PM Flag,Outage cause,Outage info,OME Partner,Tech Name,Fse Name,Tech Manager,Techn Manager No,Anchor Opco,Telecom Vendor,TT Details,Logic Id
Rest of West Bengal,Non-Strategic,4G,Airtel,BCF_62_Balarampur_ARTL_4G,IN-1256117,Low Battery Voltage,LOW DC,2022-11-15 12:23:27,2022-11-15 12:23:22,2022-11-15 12:23:22,NaN,Malda & Dinajpur,9609001103,8945556151,MRBTS-65795,10.NORMAL SITE,6957117,PM-OFF,NaN,NaN,NIPL,Sahajan Ali,Others - 869769 Titan Mallik,Niladri Karmakar,9051619116,Vodafone,NSN-eNodeB,NaN,NSN_AIRTEL_KOL_ROWB_DUO4_10_131_29_137_MRBTS-6...

In [12]:
df.dtypes

sep=          object
Unnamed: 1    object
dtype: object

In [13]:
type(df.dtypes)

pandas.core.series.Series

In [15]:
df.dtypes=='object'

sep=          True
Unnamed: 1    True
dtype: bool

In [17]:
df.dtypes[df.dtypes=='object']

sep=          object
Unnamed: 1    object
dtype: object

In [19]:
df.dtypes[df.dtypes=='object'].index

Index(['sep=', 'Unnamed: 1'], dtype='object')

In [21]:
df[df.dtypes[df.dtypes=='object'].index]

,,,,,,,,,,,,,,,,,,,,,,,,,,,,sep=,Unnamed: 1
Circle,Sitetype,Network Type,Alarming OpCo,Site Name,Site ID,Alarm Name,Alarm Text,Start Time,OSS Time,Event Time,Work Log,Area,Tech No,Fse Mobile,Config ID,Toc Site Priority,Alarm Identifier,PM Flag,Outage cause,Outage info,OME Partner,Tech Name,Fse Name,Tech Manager,Techn Manager No,Anchor Opco,Telecom Vendor,TT Details,Logic Id
Rest of West Bengal,Non-Strategic,4G,Airtel,BCF_62_Balarampur_ARTL_4G,IN-1256117,Low Battery Voltage,LOW DC,2022-11-15 12:23:27,2022-11-15 12:23:22,2022-11-15 12:23:22,NaN,Malda & Dinajpur,9609001103,8945556151,MRBTS-65795,10.NORMAL SITE,6957117,PM-OFF,NaN,NaN,NIPL,Sahajan Ali,Others - 869769 Titan Mallik,Niladri Karmakar,9051619116,Vodafone,NSN-eNodeB,NaN,NSN_AIRTEL_KOL_ROWB_DUO4_10_131_29_137_MRBTS-6...
Kolkata,Non-Strategic,4G,Airtel,Bangabasi_College_ZTE_4G,IN-1073048,Low Battery Voltage,LOW BATTERY VOLTAGE,2022-11-15 12:22:43,2022-11-15 12:22:27,2022-11-15 12:22:27,CNT_TOC_EAST_D_NK_ESC_TECH_ack,Kolkata -1,9007023025,9933499072,rns1012_KO_E_F_OM_BBCL,10.NORMAL SITE,1099441,PM-ON,NaN,NaN,Technocon,Sankar Saha,Others - 865507 Anup Mondal,Kallol Mishra,9163399755,Airtel,ZTE-eNodeB,NaN,ZTE_AIRTEL_KOL_ROWB_DUO02_10_193_97_229_rns101...

Consider the below code to answer further questions: import pandas as pd import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6'] indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i)  mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [33]:
import numpy as np

In [37]:
df1=np.random.rand(6,6)

In [48]:
pd.DataFrame(df1)

          0         1         2         3         4         5
0  0.281579  0.745929  0.091482  0.230304  0.515596  0.983407
1  0.955260  0.225608  0.162524  0.267794  0.532134  0.308723
2  0.433198  0.418266  0.828768  0.627571  0.148272  0.493987
3  0.248422  0.315797  0.659409  0.837771  0.646241  0.262893
4  0.974662  0.403363  0.375513  0.579729  0.576635  0.885919
5  0.736637  0.956998  0.620405  0.275915  0.854027  0.566321

In [61]:
d1=df1[[1,2]]

In [62]:
pd.DataFrame(d1)

          0         1         2         3         4         5
0  0.955260  0.225608  0.162524  0.267794  0.532134  0.308723
1  0.433198  0.418266  0.828768  0.627571  0.148272  0.493987

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [6]:
columns={"column_1","column_2","column_3","column_4","column_5","column_6"}
indices = [1,2,3,4,5,6]

In [2]:
columns

['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

Q6. What do you understand about the windows function in pandas and list the types of windows functions?

The window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated with the current row. The windows functions help us to perform the aggregated calculations across various partitions or cross-sections of the data.grouping of the data which is situated in the data set, according to the instruction.

List of the types of windows function.
Rolling window: 
Weighted window:
Expanding window:

Q7. Write a code to print only the current month and year at the time of answering this question.
 [Hint: Use pandas.datetime function]

In [27]:
data=pd.date_range(start="01-05-2023",end="30-05-2023")

/tmp/ipykernel_102/2513644628.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data=pd.date_range(start="01-05-2023",end="30-05-2023")

In [28]:
data

DatetimeIndex(['2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14',
               ...
               '2023-05-21', '2023-05-22', '2023-05-23', '2023-05-24',
               '2023-05-25', '2023-05-26', '2023-05-27', '2023-05-28',
               '2023-05-29', '2023-05-30'],
              dtype='datetime64[ns]', length=146, freq='D')

In [31]:
df2=pd.DataFrame(data)

In [32]:
df2.dtypes

0    datetime64[ns]
dtype: object

In [38]:
pd.DataFrame({"month":['2023-05-21']})

        month
0  2023-05-21

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [3]:
import pandas as pd
date=pd.date_range(start='2023-05-12',end='2023-05-30')

In [6]:
df3=pd.DataFrame(date)

In [16]:
df3.dtypes

0    datetime64[ns]
dtype: object

In [21]:
df3.head(1)

           0
0 2023-05-12